$color1:#7BCA61;
$color2:#4D9934;
$color3:#88BF3D;
$color4:#91BE81;
$color5:#DDDDDD;
* {
  box-sizing: border-box;
}

html {
  font-family: "Microsoft YaHei";
  color: #585858;
  font-size: 12px;
}

body {
  background: #F7F6F5;
}

a {
  color: #585858;
}

a:hover {
  color: red;
}

.w {
  width: 1100px;
  margin: auto;
}

.layer {
  padding-bottom: 20px;
  overflow: hidden;
}
.li_bg {
  background: url("/images/li_bg.png") no-repeat;
  padding-left: 15px;
}
.s-hd1 {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
   // box-sizing: border-box;
  // border-top: 2px solid #1D67B0;
  background: $color1;
  .lm_name {
    float: left;
    color: #fff;
  }
  .more {
    float: right;
    color: #fff;
    font-size: 12px;
    // padding-right: 10px;
    // background: url("/images/jt-r.png") no-repeat right 10px;
  }
}
.s-hd2 {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: $color1;
  padding: 0 15px;
  border-bottom: 1px solid #ccc;
   // box-sizing: border-box;
  // border-top: 2px solid #1D67B0;
  .lm_name {
    float: left;
  }
  .more {
    float: right;
    color: #999;
    font-size: 12px;
    // padding-right: 10px;
    // background: url("/images/jt-r.png") no-repeat right 10px;
  }
}
.f-ell {
  overflow: hidden;
  margin-top: 10px;
  li {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    padding-right: 100px;
    a {
      float: left;
      color: #585858;
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      // &::before {
      //   content: "·";
      //   font-size: 16px;
      //   margin: 0 5px;
      // }
      &:hover {
        color: red;
      }
    }
    span {
      float: right;
      position: absolute;
      right: 0;
      color: #999;
    }
  }
}